asgiref
Django
setuptools==75.8.0
sqlparse
wheel==0.45.1
gunicorn
whitenoise
psycopg2-binary
django==5.1.3
dj-database-url
python-dotenv
djangorestframework
django-cors-headers
django-environ
dj-static
python-decouple